.services{
  padding: 80px 20px;
  text-align: center;
}

.services{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(8, 0, 8, 0.7), rgba(8, 0, 8, 0.7)), url('../Assets/services.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  background-color: #e6f7ff;
  display: flex;
  justify-content: left;
  align-items: center;
}

