:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'poppins';

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  padding: 0 16px;
  box-sizing: border-box;
  height: 1000px;
  width: auto;
}
